@model MvcApplication5.Models.Employe

@{
    ViewBag.Title = "Employee Details";
}

<h2>Index</h2>
<table>
    <tr>
        <td><b>Employee Name:</b> </td>
        <td> @Model.Name </td>
    </tr>
    <tr>
        <td><b>Employee Email: </b></td>
        <td> @Model.Email </td>
    </tr>
    <tr>
        <td><b>Employee Contact: </b></td>
        <td> @Model.Contact </td>
    </tr>
       
</table>